@{
    ViewBag.Title = "About";
}
 

<h1>CCSolution HRM</h1>
<p class="lead">It's solution for keeping employees records upto date providing information about their current work and document status.</p>